.box_black {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #000;
}

.box_white {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #fff;
}

.table {
    padding: 10px;
    border: 2px solid #000;
    width: 180px;
    height: 180px;
}